<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <footer class="footer-07">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <h2 class="footer-heading">
              <a href="https://github.com/themujib" class="logo"
                >SOCIAL NEWS FEED</a
              >
            </h2>
            <p class="menu">
              <a href="/">Home</a>
              <a href="/about">About</a>
              <a href="https://github.com/themujib">Contact</a>
            </p>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate">
                <a
                  href="#"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="GitHub"
                >
                  <span class="ion"><i class="fab fa-github"></i></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            <p class="copyright">
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="ion-ios-heart" aria-hidden="true"></i> by
              <a href="https://github.com/themujib" target="_blank">Mujib</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
