<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,700"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="css/error.css" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <div id="notfound">
      <div class="notfound">
        <div class="notfound-404">
          <h1>4<span></span>4</h1>
        </div>
        <h2>Oops! Page Not Found</h2>
        <p>
          Sorry but the page you are looking for does not exist, has been
          removed, name has changed or is temporarily unavailable.
        </p>
        <a href="/">Back to homepage</a>
      </div>
    </div>

    <%- include('./includes/footer.ejs') %>
  </body>
</html>
