<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/about.css" />
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <section>
      <div class="image">
        <img
          src="https://images.unsplash.com/photo-1628260412297-a3377e45006f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
        />
      </div>

      <div class="content">
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>Social News Feed is social platform made for learning purpose.</p>
        <ul class="links">
          <li><a href="#">work</a></li>
          <div class="vertical-line"></div>
          <li><a href="#">service</a></li>
          <div class="vertical-line"></div>
          <li><a href="#">contact</a></li>
        </ul>
      </div>
    </section>
    <br /><br />
  </body>
</html>
