<%- include('./includes/head.ejs') %>

<body>
  <%- include('./includes/navigation.ejs') %>


    <form class="post-form" action="/post" method="POST">
        <div class="form-control">
            <textarea type="text" name="title" id="title" placeholder="Hey! Express Your Thoughts."></textarea>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button class="btn" type="submit">POST</button>
      </form>
</main>


  <%- include('./includes/end.ejs') %>

