.footer-07 {
  background-color: black;
  text-align: center;
  color: aliceblue;
  padding: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-family: 'Poppins', sans-serif;
}

.footer-07 a {
  color: aliceblue;
  text-decoration: none;
}

.text-center,
h2 {
  margin-bottom: 1rem;
}

.text-center ul {
  text-align: none;
  list-style-type: none;
}
.text-center a {
  margin-right: 2rem;
}

.fa-github {
  margin-top: 2rem;
}
